<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="LiquidpediaBaseURI" value="http://wiki.teamliquid.net" />
    <add key="HeroRolesURI" value="/dota2/Hero_Roles" />
    <add key="HeroRoleXMLStore_SriniLocal" value="C:\Users\Public\Documents\Dota2AppFiles\ProcessedXML\HeroRoles" />
    <add key="MailingListOnFailure" value="srinivas.bhaskar@outlook.com;nakshatris@gmail.com"/>
  </appSettings>
</configuration>